.updateOrderForm {
  margin: 5vmax 0;
  padding: 3vmax;
  background-color: white;
}

.updateOrderForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.updateOrderForm > div > select {
  padding: 1vmax 3vmax;
  margin: 2rem 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
}

.updateOrderForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

@media screen and (max-width: 600px) {
  .updateOrderForm {
    padding: 5vmax;
  }

  .updateOrderForm > div > select {
    padding: 2.5vmax 5vmax;
    font-size: 1rem;
  }

  .updateOrderForm > div > svg {
    font-size: 2.8vmax;
  }
}

.confirmCartItems {
  .confirmCartItemsContainer {
    padding-right: 20px;
    margin-left: 0;

    img {
      width: 5vw;
    }

    span,
    a {
      font-size: 1rem;
      color: black;
    }
  }
}

.greenColor {
  color: green;
  font-weight: 500;
}

.redColor {
  color: red;
  font-weight: 500;
}
