.CartItemCard {
  display: flex;
  padding: 1vmax;
  height: auto;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  img {
    width: 10vw;
  }

  div {
    display: flex;
    margin: 0.3vmax 1vmax;
    flex-direction: column;
    a {
      font-size: 1.2rem;
      font-weight: 500;
      color: rgba(24, 24, 24, 0.815);
      text-decoration: none;
    }
    span {
      font-size: 1rem;
      color: rgba(24, 24, 24, 0.815);
      margin: 10px 0;
    }

    p {
      color: red;
      font-size: 1rem;
      cursor: pointer;
      text-decoration: underline;
      position: absolute;
      bottom: 10px;
    }
  }
}

@media screen and (max-width: 992px) {
  .CartItemCard {
    padding: 3vmax;
    height: 25vmax;

    img {
      width: 10vmax;
    }

    div {
      margin: 1vmax 2vmax;

      a {
        font-size: 0.9rem;
      }

      span {
        font-size: 0.8rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}
