.home_container {
  background-color: #0b1426;
  display: flex;

  .filters_container {
    width: 30%;
    border-right: 1px solid whitesmoke;
    padding: 50px;
    color: white;

    .search_filter {
      margin: 30px 0;

      input {
        border-radius: 5px;
        font-size: 1.2rem;
        outline: none;
        padding: 5px 20px;
        width: 100%;
      }
    }

    .collection_filter {
      margin: 30px 0;
    }

    .blockchain_filter {
      margin: 30px 0;
    }
  }

  .all_products_container {
    margin-left: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 50px;

    .product_card {
      width: 18vw;
      height: 70vh;
      border: 1px solid white;
      margin: 20px;
      border-radius: 10px;
      background-color: white;
      text-decoration: none;
      color: black;

      .product_img {
        width: 100%;
        object-fit: contain;
        border-radius: 10px 10px 0px 0px;
      }

      .product_details {
        padding: 20px;

        .collection_name {
          display: flex;
          align-items: center;
          font-size: 0.9rem;
          border-radius: 10px;
          text-align: center;
          padding: 5px;
          color: rgb(255, 33, 33);
          font-weight: 500;
          padding: 0;
          margin-bottom: 5px;
        }

        .product_title {
          font-size: 1.1rem;
          font-weight: 500;
        }

        .product_price {
          span {
            font-weight: 500;
          }
        }

        .product_chain {
          span {
            font-weight: 500;
          }
        }
      }
    }
  }
}
