.outer_nav_container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .logoLink {
    text-decoration: none;

    .logo {
      width: 50px;
      margin-right: 10px;
    }
  }

  #basic-navbar-nav {
    .me-auto {

      margin-right: 0!important;
      margin-left: auto;

      .logo_links_container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .link {
          margin-right: 30px;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
