.signup_page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b1426;
  height: 88.5vh;

  .signup_form {
    border: 1px solid lightgrey;
    width: 50%;
    padding: 3% 5%;
    background-color: white;
    border-radius: 10px;
    height: 70vh;
    box-shadow: -10px 10px 8px 10px black;
  }
}
